In [59]:
import json
import pandas as pd

In [93]:
import pandas as pd

df = pd.read_json('output_notTrue.json')
df=df['records'].apply(pd.Series)

df=df.drop('attributes',axis = 1)
df

,IndividualId,OwnerId,Email,FirstName,LastName,MailingStreet,MailingCity,MailingState,MailingPostalCode,MailingCountry,DoNotCall,Phone,MobilePhone
0,None,005Dn000002LA8CIAW,rose@edge.com,Rose,Gonzalez,"313 Constitution Place\nAustin, TX 78767\nUSA",None,None,None,None,False,(512) 757-6000,(512) 757-9340
1,None,005Dn000002LA8CIAW,sean@edge.com,Sean,Forbes,"312 Constitution Place\nAustin, TX 78767\nUSA",None,None,None,None,False,(512) 757-6000,(512) 757-4561
2,None,005Dn000002LA8CIAW,jrogers@burlington.com,Jack,Rogers,525 S. Lexington Ave,Burlington,NC,27215,USA,False,(336) 222-7000,None
3,None,005Dn000002LA8CIAW,pat@pyramid.net,Pat,Stumuller,2 Place Jussieu,Paris,None,75251,France,False,(014) 427-4427,(014) 454-6364
4,None,005Dn000002LA8CIAW,a_young@dickenson.com,Andy,Young,1301 Hoch Drive,Lawrence,KS,66045,USA,False,(785) 241-6200,(785) 265-5350
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1482,None,005Dn000002M1PFIA0,grace63@adventure-works.com,Grace,Simmons,3071 Asilomar,Issaquah,WA,98027,US,False,None,None
1483,None,005Dn000002M1PFIA0,grace64@adventure-works.com,Grace,Bryant,467 Moccasin Ct.,San Carlos,CA,94070,US,False,None,None
1484,None,005Dn000002M1PFIA0,grace64@adventure-works.com,Grace,Bryant,467 Moccasin Ct.,San Carlos,CA,94070,US,False,None,None
1485,None,005Dn000002M1PFIA0,grace65@adventure-works.com,Grace,Alexander,HÃ¶henstr 2462,Werne,NW,59368,DE,False,None,None
1486,None,005Dn000002M1PFIA0,patricia14@adventure-works.com,Patricia,Saunders,4908 Chickpea Ct.,Cranbourne,VIC,3977,AU,False,None,None

In [94]:
df.sort_values(['Email', 'Phone'], ascending=True,inplace=True)
df

,IndividualId,OwnerId,Email,FirstName,LastName,MailingStreet,MailingCity,MailingState,MailingPostalCode,MailingCountry,DoNotCall,Phone,MobilePhone
4,None,005Dn000002LA8CIAW,a_young@dickenson.com,Andy,Young,1301 Hoch Drive,Lawrence,KS,66045,USA,False,(785) 241-6200,(785) 265-5350
12,None,005Dn000002LA8CIAW,agreen@uog.com,Avi,Green,"1302 Avenue of the Americas \nNew York, NY 100...",None,None,None,None,False,(212) 842-5500,(212) 842-2383
14,None,005Dn000002LA8CIAW,ajames@uog.com,Ashley,James,"Kings Park, 17th Avenue, Team Valley Trading E...",None,None,None,None,False,+44 191 4956203,+44 191 3456234
409,None,005Dn000002LA8CIAW,alexa18@adventure-works.com,Alexa,Rogers,2233 California St.,Bellingham,WA,98225,US,False,(489) 555-0118,None
612,None,005Dn000002LA8CIAW,alexa19@adventure-works.com,Alexa,Reed,621 Brandywine Way,Lakewood,CA,90712,US,False,154-555-0154,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...
290,None,005Dn000002LA8CIAW,zoe17@adventure-works.com,Zoe,Morris,734 Balboa Ct.,Palo Alto,CA,94303,US,False,(260) 555-0117,None
958,None,005Dn000002LA8CIAW,zoe21@adventure-works.com,Zoe,Morgan,3521 Fourth St.,Olympia,WA,98501,US,False,119-555-0117,None
302,None,005Dn000002LA8CIAW,zoe22@adventure-works.com,Zoe,Sanchez,792 Rahn Court,Olympia,WA,98501,US,False,137-555-0150,None
18,None,005Dn000002LA8CIAW,None,Siddartha,Nedaerk,The Landmark @ One Market,San Francisco,CA,94087,US,False,None,None
19,None,005Dn000002LA8CIAW,None,Jake,Llorrac,None,None,None,None,None,False,None,None

In [95]:
df.drop_duplicates(subset='Email', keep='first', inplace=True)
df

,IndividualId,OwnerId,Email,FirstName,LastName,MailingStreet,MailingCity,MailingState,MailingPostalCode,MailingCountry,DoNotCall,Phone,MobilePhone
4,None,005Dn000002LA8CIAW,a_young@dickenson.com,Andy,Young,1301 Hoch Drive,Lawrence,KS,66045,USA,False,(785) 241-6200,(785) 265-5350
12,None,005Dn000002LA8CIAW,agreen@uog.com,Avi,Green,"1302 Avenue of the Americas \nNew York, NY 100...",None,None,None,None,False,(212) 842-5500,(212) 842-2383
14,None,005Dn000002LA8CIAW,ajames@uog.com,Ashley,James,"Kings Park, 17th Avenue, Team Valley Trading E...",None,None,None,None,False,+44 191 4956203,+44 191 3456234
409,None,005Dn000002LA8CIAW,alexa18@adventure-works.com,Alexa,Rogers,2233 California St.,Bellingham,WA,98225,US,False,(489) 555-0118,None
612,None,005Dn000002LA8CIAW,alexa19@adventure-works.com,Alexa,Reed,621 Brandywine Way,Lakewood,CA,90712,US,False,154-555-0154,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...
133,None,005Dn000002LA8CIAW,zoe16@adventure-works.com,Zoe,Cooper,1456 Lake Pl.,Fremont,CA,94536,US,False,(377) 555-0144,None
290,None,005Dn000002LA8CIAW,zoe17@adventure-works.com,Zoe,Morris,734 Balboa Ct.,Palo Alto,CA,94303,US,False,(260) 555-0117,None
958,None,005Dn000002LA8CIAW,zoe21@adventure-works.com,Zoe,Morgan,3521 Fourth St.,Olympia,WA,98501,US,False,119-555-0117,None
302,None,005Dn000002LA8CIAW,zoe22@adventure-works.com,Zoe,Sanchez,792 Rahn Court,Olympia,WA,98501,US,False,137-555-0150,None
18,None,005Dn000002LA8CIAW,None,Siddartha,Nedaerk,The Landmark @ One Market,San Francisco,CA,94087,US,False,None,None

In [96]:
df = df.reset_index().rename(columns={'index': 'ID'})

df

,ID,IndividualId,OwnerId,Email,FirstName,LastName,MailingStreet,MailingCity,MailingState,MailingPostalCode,MailingCountry,DoNotCall,Phone,MobilePhone
0,4,None,005Dn000002LA8CIAW,a_young@dickenson.com,Andy,Young,1301 Hoch Drive,Lawrence,KS,66045,USA,False,(785) 241-6200,(785) 265-5350
1,12,None,005Dn000002LA8CIAW,agreen@uog.com,Avi,Green,"1302 Avenue of the Americas \nNew York, NY 100...",None,None,None,None,False,(212) 842-5500,(212) 842-2383
2,14,None,005Dn000002LA8CIAW,ajames@uog.com,Ashley,James,"Kings Park, 17th Avenue, Team Valley Trading E...",None,None,None,None,False,+44 191 4956203,+44 191 3456234
3,409,None,005Dn000002LA8CIAW,alexa18@adventure-works.com,Alexa,Rogers,2233 California St.,Bellingham,WA,98225,US,False,(489) 555-0118,None
4,612,None,005Dn000002LA8CIAW,alexa19@adventure-works.com,Alexa,Reed,621 Brandywine Way,Lakewood,CA,90712,US,False,154-555-0154,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1473,133,None,005Dn000002LA8CIAW,zoe16@adventure-works.com,Zoe,Cooper,1456 Lake Pl.,Fremont,CA,94536,US,False,(377) 555-0144,None
1474,290,None,005Dn000002LA8CIAW,zoe17@adventure-works.com,Zoe,Morris,734 Balboa Ct.,Palo Alto,CA,94303,US,False,(260) 555-0117,None
1475,958,None,005Dn000002LA8CIAW,zoe21@adventure-works.com,Zoe,Morgan,3521 Fourth St.,Olympia,WA,98501,US,False,119-555-0117,None
1476,302,None,005Dn000002LA8CIAW,zoe22@adventure-works.com,Zoe,Sanchez,792 Rahn Court,Olympia,WA,98501,US,False,137-555-0150,None
1477,18,None,005Dn000002LA8CIAW,None,Siddartha,Nedaerk,The Landmark @ One Market,San Francisco,CA,94087,US,False,None,None

In [97]:
df.to_json('finalout.json',orient='records')

In [57]:
# Create a dictionary to store the unique email IDs
unique_emails = {}

# Loop through the data and add records with unique email IDs to the dictionary
for record in data:
    email = record['email']
    if email not in unique_emails:
        unique_emails[email] = record
    else:
        # If there is already a record with this email, check if the current record has a phone number
        if 'phonenumber' in record:
            # If the current record has a phone number, replace the existing record with it
            unique_emails[email] = record
        else: 
                pass
# Create a list of the unique records with both email IDs and phone numbers
unique_records = [record for record in unique_emails.values() if 'phonenumber' in record]

# Print the unique records
for record in unique_records:
    print(record)

# Write the records with email addresses back to the file
with open('data1.json', 'w') as f:
  json.dump(unique_records, f, indent=4)

{'id': 2, 'email': 'john.doe@gmail.com', 'suffix': 'Mr.', 'First_name': 'John', 'last_name': 'Doe', 'delivery_street': '456 Elm St', 'delivery_city': 'Los Angeles', 'delivery_post_code': '90001', 'delivery_state': 'New York', 'deliver_country': 'USA', 'phonenumber': '+1 555-1235', 'do_not_call': 'False', 'updated_on': '2023-03-09', 'created_on': '2023-03-09'}
{'id': 3, 'email': 'bob.smith@yahoo.com', 'suffix': None, 'First_name': 'Bob', 'last_name': 'Smith', 'delivery_street': '789 Oak Ave', 'delivery_city': 'Chicago', 'delivery_post_code': '60601', 'delivery_state': 'New York', 'deliver_country': 'USA', 'phonenumber': '+1 555-9012', 'do_not_call': 'False', 'updated_on': '2023-03-09', 'created_on': '2023-03-09'}
{'id': 4, 'email': '', 'suffix': 'Mrs.', 'First_name': 'Mary', 'last_name': 'Johnson', 'delivery_street': '234 Pine St', 'delivery_city': 'Miami', 'delivery_post_code': '33101', 'delivery_state': 'New York', 'deliver_country': 'USA', 'phonenumber': '+1 555-3456', 'do_not_call': 'False', 'updated_on': '2023-03-09', 'created_on': '2023-03-09'}
{'id': 5, 'email': 'jim.wilson@gmail.com', 'suffix': None, 'First_name': 'Jim', 'last_name': 'Wilson', 'delivery_street': '567 Maple Ave', 'delivery_city': 'San Francisco', 'delivery_post_code': '94101', 'delivery_state': 'New York', 'deliver_country': 'USA', 'phonenumber': '+1 555-7890', 'do_not_call': 'False', 'updated_on': '2023-03-09', 'created_on': '2023-03-09'}

In [53]:
f = open('data1.json')
  
# returns JSON object as 
# a dictionary
data = json.load(f)

In [54]:
df = pd.DataFrame(data)
df

,id,email,suffix,First_name,last_name,delivery_street,delivery_city,delivery_post_code,delivery_state,deliver_country,phonenumber,do_not_call,updated_on,created_on
0,2,john.doe@gmail.com,Mr.,John,Doe,456 Elm St,Los Angeles,90001,New York,USA,+1 555-1235,False,2023-03-09,2023-03-09
1,3,bob.smith@yahoo.com,None,Bob,Smith,789 Oak Ave,Chicago,60601,New York,USA,+1 555-9012,False,2023-03-09,2023-03-09
2,4,,Mrs.,Mary,Johnson,234 Pine St,Miami,33101,New York,USA,+1 555-3456,False,2023-03-09,2023-03-09
3,5,jim.wilson@gmail.com,None,Jim,Wilson,567 Maple Ave,San Francisco,94101,New York,USA,+1 555-7890,False,2023-03-09,2023-03-09

In [43]:
import pandas as pd
import numpy as np
# Load the JSON data into a pandas DataFrame
df = pd.read_json('data1.json')

# Replace blank values with NaN
df['email'] = df['email'].replace('', np.nan)

# Drop all rows where the emailid column is null
df = df.dropna(subset=['email'])
df

,id,email,suffix,First_name,last_name,delivery_street,delivery_city,delivery_post_code,delivery_state,deliver_country,phonenumber,do_not_call,updated_on,created_on
0,2,john.doe@gmail.com,Mr.,John,Doe,456 Elm St,Los Angeles,90001,New York,USA,+1 555-1235,False,2023-03-09,2023-03-09
1,3,bob.smith@yahoo.com,None,Bob,Smith,789 Oak Ave,Chicago,60601,New York,USA,+1 555-9012,False,2023-03-09,2023-03-09
3,5,jim.wilson@gmail.com,None,Jim,Wilson,567 Maple Ave,San Francisco,94101,New York,USA,+1 555-7890,False,2023-03-09,2023-03-09

In [44]:
# Write the updated DataFrame back to a JSON file
df.to_json('data1.json', orient='records')